// colors
$white : #fff;
$grey-white : #828da3;
$light-grey : #ccc;
$grey : #ddd;
$heading-color : #666;
$primary : #554876;
$light-primary : #773d77;
$green-button : #49bd8b;
$transparent : transparent;
$right-sign : #49bd8b;
$light-white : #fafafa;

// font-weight
$bold : bold;

// fonts size
$one : 1px;
$eleven : 11px;
$thirteen : 13px;
$fourteen : 14px;
$fiftheen : 15px;
$eighteen : 18px;
$twenty-two : 22px;
$thirty : 30px;

// font-family
$sans-serif : sans-serif;
$font-awesome : fontAwesome;

// Breakpoints
$notebook: 1024px;
$ipad: 995px;
$phone: 767px;
$iphone: 550px;
$small-iphone: 320px;